:root {
	/* Icon colors */
	--icon-bg: #333;
	--icon-fg: #ccc;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

button,
.button {
	padding: 0.5em 2em;
	background: #222;
	border: 1px solid #445;
	border-radius: 0.5em;
	color: #ccc;
	cursor: pointer;
}

button:hover,
.button:hover {
	background: #335;
}

a {
	color: #ccd;
	text-decoration: none;
}

a:has(button, div) {
	display: contents;
}

.header {
	position: absolute;
	inset: 0 0 10em;
	padding: 1em 2em;
}

.content {
	position: absolute;
	inset: 10em 10em 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

:where(.content, .content > a) > .button {
	display: flex;
	align-items: center;
	gap: 0.5em;
	width: max-content;
}
