:root {
	/* Icon colors */
	--icon-bg: #333;
	--icon-fg: #ccc;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #111;
	color: #ccc;
	inset: 0;
	position: fixed;
	margin: 0;
	padding: 0;
}
