:root {
	/* Icon colors */
	--icon-bg: #333;
	--icon-fg: #ccc;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #111;
	color: #ccc;
	inset: 0;
	position: fixed;
	margin: 0;
	padding: 0;
}

button {
	padding: 0.5em 2em;
	background: #222;
	border: 1px solid #445;
	border-radius: 0.5em;
	color: #ccc;
	cursor: pointer;
}

button:hover {
	background: #335;
}

a {
	color: #ccd;
	text-decoration: none;
}

a:has(button, div) {
	display: contents;
}
