/* Global styles */

:root {
	/* Icon colors */
	--icon-bg: #333;
	--icon-fg: #ccc;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #111;
	color: #ccc;
	display: grid;
	grid-template-columns: max-content 1fr;
	inset: 0;
	position: fixed;
	margin: 0;
	padding: 0;
}

/* Sidebar styles */
#sidebar {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	grid-column: 1;
	background: #111;
	border-right: 1px solid #333;
	min-width: 200px;
	width: max-content;
	height: 100%;
	text-wrap: balance;
	overflow: hidden;
	resize: horizontal;

	.main {
		padding: 0 1em;
	}

	.header,
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5em;
		width: max-content;

		button {
			padding: 0.5em 2em;
			background: #222;
			border: 1px solid #445;
			border-radius: 0.5em;
			color: #ccc;
			width: max-content;
			cursor: pointer;
		}

		button:hover {
			background: #335;
		}
	}
}

#sidebar-menu {
	display: flex;
	gap: 0.5em;
	border-bottom: 1px solid #333;

	width: 100%;
	overflow-x: scroll;

	div {
		color: #ccc;
		width: 3.5em;
		height: 3.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 0.5em;
	}

	div:hover {
		background: #333;
	}

	.active {
		border-bottom: 2px solid #ccc;
	}
}

#resources {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	.header button {
		margin: 0.5em;
	}
}

#content {
	grid-column: 2;
	overflow: scroll;
	margin: 1em;

	.header {
		margin-bottom: 1.5em;
		border-bottom: 1px solid #333;
		padding-bottom: 0.5em;

		h1 {
			font-size: 1.8em;
			color: #fff;
			margin-bottom: 0.5em;
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}

	.body {
		height: 100%;
	}

	.body[kind='document'] {
		line-height: 1.6;

		p {
			margin-bottom: 1em;
		}
	}
}

#content-default {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #aaaa;
}
